.text {
  color: white;
}
.header {
  color: white;
  font-family: "Papyrus";
  font-size: 30px;
  font-style: "italic";
  background-color: #0e2f44;
}

.filtersBackground {
  background-color: #d3ffce;
}
